.wrapper {
  width: min(1500px, 100% - 3rem);
  margin-inline: auto;
  line-height: 1.5;
  font-size: 1.125rem;
  max-width: 100%;
  overflow-x: auto;
  margin-top: 30px;
  border-radius: 0.3rem;
}

table {
  border-collapse: collapse;
  background: #323232;
  width: 100%;
}

th,
td {
  padding: 1rem;
  background: #323232;
}

th,
tr {
  text-align: center;
}

th {
  background: hsl(0 0% 50% / 0.5);
}

.logo {
  background: transparent;
  width: 55px;
}

[data-cell="name"],
[data-cell="logo"] {
  padding: 0;
}

[data-cell="name"] {
  width: 80px;
}

.select-outer-container {
  position: absolute;
  top: 160px;
  right: 50px;
  width: 260px;
  background: transparent;
}

.select-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 92%;
  height: 50px;
}
.select-box {
  border: none;
  appearance: none;
  padding: 0 30px 0 15px;
  width: 100%;
  color: white;
  font-size: 20px;
  background-color: #323232;
  border-radius: 0.3rem;
  cursor: pointer;
}

.table-image {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.select-box-icon-container i {
  background: transparent;
  font-size: 30px;
  color: white;
  margin-right: 40px;
  margin-bottom: 100px;
}
.select-box-icon-container {
  width: 20px;
  height: 100%;
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 1033px) {
  .select-outer-container {
    top: 200px;
  }
}

@media screen and (max-width: 940px) {
  .select-outer-container {
    top: 160px;
  }
}

@media screen and (max-width: 599px) {
  .select-outer-container {
    top: 120px;
  }
}

@media (max-width: 804px) {
  .wrapper {
    font-size: 0.9rem;
  }
}

@media (max-width: 703px) {
  .wrapper {
    font-size: 0.8rem;
  }
}

@media (max-width: 658px) {
  [data-cell="ties"],
  .ties {
    display: none;
  }
}

@media (max-width: 573px) {
  [data-cell="loses"],
  .loses {
    display: none;
  }
}

@media (max-width: 485px) {
  [data-cell="wins"],
  .wins {
    display: none;
  }
}

@media screen and (max-width: 412px) {
  .select-outer-container {
    width: 210px;
    padding: 0;
  }
  .select-container select {
    font-size: 15px;
  }

  .select-box-icon-container i {
    font-size: 20px;
  }
}

@media (max-width: 399px) {
  [data-cell="games-played"],
  .games-played {
    display: none;
  }
}
