.results-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 290px);
}
.jornada-title {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: left;
}

.game-container {
  margin-top: 20px;
  border: 2px solid white;
  padding: 1px;
  background-color: white;
  border-radius: 0.3rem;
}

.teams-scores-container {
  display: flex;
  justify-content: start;
  background-color: white;
  align-items: center;
  position: relative;
  padding: 50px;
}

.left-part-container {
  display: flex;
  background-color: transparent;
  position: absolute;
  left: 0;
  align-items: center;
  width: 90%;
  margin-right: 1%;
}

.middle-section {
  position: absolute;
  display: flex;
  background-color: transparent;
  left: 38%;
  align-items: center;
  width: 75%;
}

.middle-section-right {
  position: absolute;
  right: 25%;
  background: transparent;
  width: 17%;
}

.team-logo {
  background-color: white;
  margin: 0 4%;
  width: 6.8740157480315%;
  background: transparent;
}

.scores {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  background-color: transparent;
}

.scores p,
.date-time span,
.location {
  background-color: white;
  color: black;
}

.scores p,
.date-time span {
  width: 100%;
}

.vertical-line {
  border-left: 1px solid black;
  height: 100px;
  width: 0.01%;
  margin-left: 1%;
}

.date-time {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
}

.location {
  text-align: center;
}

.report-button {
  background-color: #069be7;
  color: white;
  padding: 20px;
  min-width: 160px;
  font-size: 16px;
  border-radius: 0.3rem;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.button-container {
  position: absolute;
  right: 2%;
  background: transparent;
}

.report-button:hover {
  background-color: #0582c2;
}

.table-image {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.date {
  font-weight: bold;
}

.time,
.location {
  font-size: 16px;
}

.location {
  height: 100px;
}

.select-outer-container {
  position: absolute;
  top: 160px;
  right: 50px;
  width: 260px;
  background: transparent;
}

.select-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 92%;
  height: 50px;
}
.select-box {
  border: none;
  appearance: none;
  padding: 0 30px 0 15px;
  width: 100%;
  color: white;
  font-size: 20px;
  background-color: #323232;
  border-radius: 0.3rem;
  cursor: pointer;
}

.select-box-icon-container i {
  background: transparent;
  font-size: 30px;
  color: white;
  margin-bottom: 100px;
  margin-right: 40px;
}
.select-box-icon-container {
  width: 20px;
  height: 100%;
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 964px) {
  .left-part-container,
  .middle-section,
  .middle-section-right,
  .button-container {
    position: static;
  }

  .left-part-container {
    justify-content: space-between;
    width: 100%;
  }

  .middle-section-right {
    position: absolute;
    top: 45%;
    right: 8%;
    width: 90px;
  }

  .team-logo {
    width: 50px;
  }

  .middle-section {
    justify-content: flex-start;
    width: 100%;
    margin-top: 50px;
  }
  .teams-scores-container {
    flex-direction: column;
    padding: 5px;
  }

  .vertical-line {
    border-left: 1px solid black;
    height: 1px;
    width: 96%;
    position: absolute;
    top: 35%;
  }

  .button-container {
    width: 90%;
    margin-top: 30px;
  }

  .report-button {
    width: 100%;
  }

  .results-container,
  .top-section-container .text-container {
    width: calc(100% - 90px);
  }
}

@media screen and (max-width: 1034px) {
  .select-outer-container {
    top: 190px;
  }
}

@media screen and (max-width: 940px) {
  .select-outer-container {
    top: 150px;
  }
}

@media screen and (max-width: 748px) {
  .select-outer-container {
    top: 100px;
  }
}

@media screen and (max-width: 412px) {
  .select-outer-container {
    top: 120px;
    padding: 0;
    width: 210px;
  }
  .select-container select {
    font-size: 15px;
  }

  .select-box-icon-container i {
    font-size: 20px;
  }
}
