@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.wrapper {
  position: relative;
  max-width: 470px;
  width: 100%;
  border-radius: 12px;
  padding: 20px 30px 40px;
  background: #333;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sign-up {
  position: absolute;
  left: 50%;
  bottom: -86%;
  transform: translateX(-50%);
  width: calc(100% + 220px);
  padding: 20px 140px;
  border-radius: 50%;
  height: 100%;
  background: #fff;
  transition: all 0.6s ease;
}

.login .password-reset {
  color: white;
}
.login,
.login .title,
.login .password-reset {
  background: transparent;
}

.wrapper.active {
  height: 620px;
}
.wrapper.active .sign-up {
  bottom: -15%;
  border-radius: 35%;
  box-shadow: 0 -5px 10px rgba(194, 114, 114, 0.1);
}

.form .title {
  font-size: 30px;
  text-align: center;
  color: #fffefe;
  font-weight: 600;
  cursor: pointer;
}

.sign-up .title {
  color: black;
  background-color: transparent;
}

.sign-up .title {
  opacity: 0.6;
}

.wrapper.active .login .title {
  opacity: 0.6;
}

.wrapper.active .sign-up .title {
  opacity: 1;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  background: transparent;
}

form input {
  height: 60px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #010101;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #000000;
}

.sign-up input {
  border: 1px solid #000000;
}

.login input:focus {
  box-shadow: 0 1px 0 #0c0a0a;
}

form .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
}

.checkbox input[type="checkbox"] {
  height: 16px;
  width: 16px;
  accent-color: #fff;
  cursor: pointer;
}

form .checkbox label {
  cursor: pointer;
  color: #ffffff;
}

form a {
  color: #000000;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

form input[type="submit"] {
  margin-top: 15px;
  padding: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.login input[type="submit"] {
  background: #38b6ff;
  color: #000000;
  border: none;
}
.sign-up input[type="submit"] {
  background: #38b6ff;
  color: #000000;
  border: none;
}

.sign-up input[type="submit"]:hover {
  color: #ffffff;
}

.login input[type="submit"]:hover {
  color: #ffffff;
}

.sign-up .signup-check {
  background: transparent;
  color: black;
}

@media screen and (max-width: 516px) {
  .wrapper {
    max-width: 370px;
  }

  #password-sign-up-error,
  #password-login-error {
    width: 350px;
  }

  .wrapper.active {
    height: 645px;
  }
}

@media screen and (max-width: 412px) {
  .wrapper {
    max-width: 350px;
  }
  #password-sign-up-error,
  #password-login-error {
    width: 320px;
  }
}

@media screen and (max-width: 360px) {
  .wrapper {
    max-width: 320px;
  }
  #password-sign-up-error,
  #password-login-error {
    width: 280px;
  }
}

.sign-up-error {
  height: 1px;
}

.sign-up-error,
.error {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: red;
  width: 430px;
  padding-top: 0px;
  background: transparent;
}

.error {
  height: 10px;
}


#authentication-error {
    color: red;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.error.active,
.sign-up-error.active {
  opacity: 1;
}
