.direction-title {
    text-decoration: underline;
    margin-bottom: 20px;
}

.main-conatiner {
    display: block;
    margin-left: 180px;
    margin-right: auto;
    width: calc(100% - 290px);
    margin-top: 20px;
}

.direction-container {
    flex: 1;
}

.direction-text {
    line-height: 1.5rem;
}

.directions {
    display: flex;
    margin-bottom: 50px;
}

form {
    width: 90%;
    max-width: 950px;
}

.form-conatiner {
    display: flex;
    align-items: center;
    justify-content: start;
}

.input-group {
    margin-bottom: 30px;
    position: relative;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    background: white;
    font-size: 15px;
}

textarea {
    resize: none;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    color: black;
    background: transparent;
    transition: 0.2s;
}

.submit-button {
    padding: 10px 0;
    color: #fff;
    background-color: #069be7;
    border: 1px solid #069be7;
    width: 100%;
    cursor: pointer;
    border-radius: 0.3rem;
}

.submit-button:hover {
    background-color: #0582c2;
    border-color: #0582c2;
}

.icon {
    background: transparent;
    margin-right: 5px;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
    color: white;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info .input-group {
    flex-basis: 48%;
}

.error {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: red;
}

.error.active {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
}

.modal-content {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}

.close-btn {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 607px) {
    .main-conatiner {
        width: calc(100% - 150px);
    }
}

@media screen and (max-width: 501px) {
    .main-conatiner {
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 412px) {
    .main-conatiner {
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 392px) {
    .main-conatiner {
        width: calc(100% - 32px);
    }
}

@media screen and (max-width: 362px) {
    .main-conatiner {
        width: calc(100% - 18px);
    }
}