@font-face {
  font-family: "NZ_Rugby";
  src: url("../fonts/NZRugbyChisel-Bold.woff2") format("woff2"),
    url("../fonts/NZRugbyChisel-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
  text-decoration: none;
  list-style: none;
  font-family: system-ui;
}

body {
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a,
a:active {
  color: white;
}

.top-section-container {
  background-image: url("../media/archive/title-bg.jpg");
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 70px;
  background-size: cover;
  padding-top: 70px;
  height: 175px;
}

.top-section-container .text-container {
  background: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 290px);
}

.top-section-container .text-container .title,
.top-section-container .text-container .sub-title {
  background: transparent;
  line-height: 1.4;
  width: 100%;
}

.top-section-container .text-container .sub-title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 5px;
}

.top-section-container .text-container .title {
  font-weight: bold;
  font-size: 38px;
}

@media screen and (max-width: 964px) {
  .results-container,
  .top-section-container .text-container {
    width: calc(100% - 90px);
  }
}
