.squad-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.squad-header {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 22px;
}

.table-image {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.squad-cards-container {
  max-width: 1500px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}

.slider-wrapper:hover > .flow-left-button,
.slider-wrapper:hover > .flow-right-button {
  opacity: 1;
  visibility: visible;
}
.flow-left-button {
  z-index: 1;
  display: none;
}

.flow-left-button,
.flow-right-button {
  opacity: 0;
  visibility: hidden;
  transition: opacity 950ms ease, visibility 950ms ease;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .image-list {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(15, 1fr);
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 275px;
  height: 290px;
  object-fit: cover;
  border-radius: 0.3rem;
  background-color: white;
}

.slider-wrapper .image-list #first-child-image {
  margin-left: 35px;
}

.flow-right-button {
  margin-left: 0px;
}
.flow-left-button {
  margin-right: 0px;
}
.flow-button {
  background-color: rgba(6, 155, 231, 0.9);
  border-style: none;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  height: 291px;
}

.flow-button:hover {
  background-color: rgba(6, 155, 231, 1);
}

.slider-wrapper .flow-button#next-silde {
  right: 0px;
}

.slider-wrapper .flow-button#prev-silde {
  left: 0px;
}

.flow-button img {
  background-color: transparent;
}

.squad-header-title {
  font-weight: bold;
  font-size: 18px;
}

.see-more-section {
  display: flex;
  cursor: pointer;
}

.see-more-section a {
  font-size: 16px;
  font-weight: 600;
}
.arrow-right-icon {
  width: 19px;
  margin-left: 5px;
}

.name-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.name-button {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: all 0.3s ease;
  bottom: 0;
}

.name-button-first-child {
  left: 35px;
  width: 89%;
}

.player-name {
  background: transparent;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.select-outer-container-team {
  position: absolute;
  top: 160px;
  left: 500px;
  width: 260px;
  background: transparent;
}

.select-outer-container {
  position: absolute;
  top: 160px;
  right: 300px;
  width: 260px;
  background: transparent;
}

.select-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 92%;
  height: 50px;
}
.select-box {
  border: none;
  appearance: none;
  padding: 0 30px 0 15px;
  width: 100%;
  color: white;
  font-size: 20px;
  background-color: #323232;
  border-radius: 0.3rem;
  cursor: pointer;
}

.select-box-icon-container i {
  background: transparent;
  font-size: 30px;
  color: white;
  margin-bottom: 100px;
  margin-right: 50px;
}
.select-box-icon-container {
  width: 20px;
  height: 100%;
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
}
