.news-container {
  display: flex;
  padding: 20px;
  margin: auto;
  max-width: 100%;
  font-size: 1.2vw;
}

.primary-article-container {
  position: relative;
  width: 50%;
  background-image: url("../../media/news/thumbnail/springboks_win_cup.jpg"),
    url("../../media/news/thumbnail/springboks_win_cup.png");
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  border-radius: 0.3rem;
  z-index: 0;
  margin-left: 10px;
  max-width: 50%;
  background-repeat: no-repeat;
}

.springboks-win-cup,
.primary-article-container-info {
  width: 100%;
  border-radius: 0.3rem;
}
.main-article-title {
  font-size: 28px;
  line-height: 1.4;
}

.main-article-text,
.publiched-at,
.main-article-title {
  font-weight: bold;
  text-transform: uppercase;
  background-color: inherit;
}

.primary-article-container,
.read-more-button {
  cursor: pointer;
}

.main-article-text {
  font-size: 13.5px;
  line-height: 1.5;
}

.publiched-at {
  color: #999;
  font-size: 12px;
}

.primary-article-container-info {
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 10px 30px 10px 30px;
  position: absolute;
  bottom: -50px;
  line-height: 2.3rem;
  border-radius: 0 0 0.3rem 0.3rem;
}

.read-more-button {
  background-color: #069be7;
  color: white;
  padding: 10px 10px;
  min-width: 120px;
  font-size: 16px;
  border-style: none;
  font-weight: bold;
  border-radius: 0.3rem;
  transition: background-color 0.15s ease-in-out;
}

.read-more-button:hover {
  background-color: #0582c2;
}

.secondary-articles-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 10px;
}

.important-news-headers {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: 8px;
}

.important-news-inner-container {
  display: flex;
}

.unimportant-news-container {
  display: flex;
}

.second-article-two,
.second-article-one {
  width: 43%;
  padding-top: 85px;
  padding-bottom: 85px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  position: relative;
  border-radius: 0.3rem;
  display: flex;
  background-size: cover;
  cursor: pointer;
}

.second-article-info {
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  bottom: -50px;
  left: 0;
  border-radius: 0 0 0.3rem 0.3rem;
  cursor: pointer;
  width: 100%;
}

.second-article-one {
  background-image: url("../../media/news/thumbnail/all_blacks_pretemporada.jpg"),
    url("../../media/news/thumbnail/all_blacks_pretemporada.png");
  margin-left: 5%;
}
.second-article-two {
  background-image: url("../../media/news/thumbnail/same_cane_red_rose_new_capitan.jpg"),
    url("../../media/news/thumbnail/same_cane_red_rose_new_capitan.png");
  margin-left: 6.8%;
}

.secondary-article-title,
.secondary-article-text,
.publiched-at-secondary,
.third-article-title,
.third-article-text,
.publiched-at-third {
  background-color: white;
  color: black;
}

.secondary-article-title,
.secondary-article-text {
  margin-bottom: 5px;
}

.secondary-article-title {
  font-size: 16px;
  font-weight: 600;
}
.secondary-article-text {
  font-size: 13px;
}

.publiched-at-secondary,
.publiched-at-third {
  font-size: 13px;
  color: #6c757d;
}

.third-article-one,
.third-article-two,
.third-article-three {
  width: 29%;
  padding: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 60px;
  position: relative;
  border-radius: 0.3rem;
  background-color: transparent;
  display: flex;
  cursor: pointer;
}

.third-article-one {
  background-image: url("../../media/news/thumbnail/miller_to_black_fernes.jpg"),
    url("../../media/news/thumbnail/miller_to_black_fernes.png");
  margin-left: 5%;
}
.third-article-two {
  background-image: url("../../media/news/thumbnail/sakuras_stadium.jpg"),
    url("../../media/news/thumbnail/sakuras_stadium.png");
  margin-left: 3%;
}

.third-article-three {
  background-image: url("../../media/news/thumbnail/wallabies_new_coach.jpg"),
    url("../../media/news/thumbnail/wallabies_new_coach.png");
  margin-left: 3%;
}

.third-article-info {
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  bottom: -73px;
  left: 0;
  border-radius: 0 0 0.3rem 0.3rem;
  cursor: pointer;
}

.third-article-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.third-article-text {
  font-size: 13px;
  margin-bottom: 5px;
}

.last-news-header {
  font-weight: bold;
}
